<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.logicline.mydining">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- For Android 13+ consider granular media permissions -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- For scoped storage, this is not needed for app-specific dirs on API 29+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:theme="@style/AppTheme.ContentMatching"
            android:name=".ui.activities.DemoActivity"
            android:exported="false" />
        <!-- usesCleartextTraffic needs targetApi M or higher if minSdk is lower -->
        <activity
            android:name=".ui.activities.MonthsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MessInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ActiveMonthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MemberRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SwitchMessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PreviousMonthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FundActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ReportActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5848923401370877~7816126249" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="RATQWqcuNliMJzgxmUNkbSuxmn5O3k1DNmEePbDJuhUbcIxSLpM7HSBI9oZ6hcWLIOqdVgiaoBpdDp7_2CskMV" />

        <activity
            android:name=".ui.activities.MealRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.UserGuideActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChangeSuperuserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DepositHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PurchaseRequestActivity"
            android:exported="false"
            android:label="Purchase Request"
            android:parentActivityName=".ui.activities.PurchasesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.SubmitPurchaseActivity"
            android:exported="false"
            android:label="Submit Purchase"
            android:parentActivityName=".ui.activities.PurchasesActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="My Dining" />

        <activity
            android:name=".ui.activities.InitiateMemberActivity"
            android:exported="false"
            android:label="Initiate Members" />
        <activity
            android:name=".ui.activities.GenericWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:exported="false"
            android:label="Create Mess"
            android:parentActivityName=".ui.activities.LoginActivity" />
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:exported="false"
            android:label="Profile"
            android:theme="@style/AppTheme.WithNoActionBar" />
        <activity
            android:name=".ui.activities.SummaryActivity"
            android:exported="false"
            android:label="Summary" />
        <activity
            android:name=".ui.activities.AddDepositActivity"
            android:exported="false"
            android:label="Add Deposit" />
        <activity
            android:name=".ui.activities.DepositActivity"
            android:exported="false"
            android:label="Deposit List" />
        <activity
            android:name=".ui.activities.AddPurchaseActivity"
            android:exported="false"
            android:label="Add Purchase" />
        <activity
            android:name=".ui.activities.PurchasesActivity"
            android:exported="false"
            android:label="Purchase List"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activities.AddMealActivity"
            android:exported="false"
            android:label="Add Meal" />
        <activity
            android:name=".ui.activities.MealActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.FirstActivity"
            android:theme="@style/AppTheme.WithNoActionBar" />
        <activity
            android:name=".ui.activities.FirstActivity"
            android:exported="true"
            android:theme="@style/AppTheme.WithNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MembersActivity"
            android:exported="false"
            android:label="Members" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.ContentMatching" />

        <service
            android:name=".notification.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>